Dockerfile
.gitignore
.gitlab-ci.yml
.helm/
.gitlab/

.git/
.dockerignore
readme.md

temp


/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/laravel-excel
/vendor
/.osp
.env
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
